@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slanted {
  position: relative;
  overflow: hidden; /* Ensures the pseudo-element doesn't extend outside the div */
}

.slanted::after {
  content: "";
  position: absolute;
  right: -20px; /* Adjust based on the thickness of the slant */
  top: 0;
  bottom: 0;
  width: 20px; /* Controls the width of the slanted area */
  background: inherit; /* Inherits the background color of the div */
  transform: skewX(-45deg); /* Adjust the angle if needed */
  transform-origin: top right;
}

