@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.slanted-parallel {
  background: #6b4fc6; /* Purple background */
  color: white;
  padding-left: 16px; /* Left padding */
  padding-right: 100px; /* Right padding - increase if needed */
  position: relative;
  overflow: hidden; /* Hide overflow to maintain the shape */
}

.slanted-parallel::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 80%; /* Adjust this value to control the width of the slanted side */
  background: inherit;
  transform-origin: top right;
  transform: skewY(-10deg); /* Controls the slant angle */
}

.content {
  position: relative; /* Ensure it's above the pseudo-element */
}

